<div>
    <test-tabs ng-if="vm.type===1" [tabTemplate]="vm.innerContent" [tabsData]="vm.tabs"></test-tabs>
    <test-tabs ng-if="vm.type===2" [tabTemplate]="vm.innerContent2" [tabsData]="vm.tabs"></test-tabs>
    <div>
        <button ng-click="vm.changeTemp()">Change template</button>
    </div>
</div>
<ng-template let-model="tab" a="2" #innerContent>
    <div style="display:inline-block;width:30%">{{tab.title}}</div>
</ng-template>
<ng-template let-model="tab" a="2" #innerContent2>
    <div style="display:inline-block;width:100%">{{tab.title}}</div>
</ng-template>