.mmsshh{
    font-size: 48px;
}

:host .new-color{
    color:palevioletred;
}

::ngx-cover[miao17game] .new-color {
    color:maroon;
}

::ngx-cover[miao17game] .new-back{
    background:goldenrod;
}
