.mmsshh{
    font-size: 48px;
}

// :host ::ng-deep .new-color{
//     color:palevioletred;
// }

// :host .new-color{
//     color:palevioletred;
// }

::ngx-cover[miao17game] .new-color {
    color:maroon;
}

::ngx-cover[miao17game] .new-back{
    background:goldenrod;
}

//  .new-color {
//     color:maroon;
// }

//  .new-back{
//     background:goldenrod;
// }
