<!--[$ngxCtrl:]-->
<div class="new-back new-color">
    <div class="mmsshh" #miaoName>OUTER - {{vm.output}} - {{vm.direShow}}</div>
    <!-- <div style="padding:8px;" ng-transclude></div> -->
    <button (click)="changeChild()">Change</button>
    <button (click)="changeDirective()">Show Directive?</button>
    <new-component ngx-child="miao17game" ngx-expose *ngIf="show01" meta-test="aaa" meta-number="vm.data.number" on-key-fuck="vm.onKeyFuck($event)"></new-component>
    <new-component ngx-child *ngIf="!show01" [metaTest]=" 'bbb' " [metaNumber]="data.number" (onKeyFuck)="onKeyFuck($event)"></new-component>
    <div ng-if="vm.showDirective" new-directive input-meta="vm.data.input" (onChanges)="directiveChanges($event)"></div>
    <div *ngFor="let para of Lists; let sindex = $index">
        <span>{{sindex}} - {{para}}</span>
    </div>
    <div>{{{message}}}</div>
    <new-component [metaTest]=" 'test-ngModel' " [metaNumber]="data.number" ng-model="modelString" (onKeyFuck)="onKeyFuck($event)"></new-component>
    <p>{{vm.modelString}}</p>
</div>