<div class="new-back new-color">
    <p>NEW COMPO</p>
    <span>{{metaTest}}</span>
    <br/>
    <span>{{metaNumber}}</span>
    <div>
        <p2>TEST FOR PIPE</p2>
        <div>{{AAA}}</div>
        <div>{{BBB}}</div>
        <p>{{"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa" | fmt:10}}</p>
    </div>
    <div ng-if="isNGMD" strip-br="true" id="demoInput" contenteditable="true" ng-model="ngModel" style="background-color:white;color:black;height:100px;"></div>
    <button ng-click="changes()">Click</button>
    <ng-template #testDom>
        hahahahahaah
    </ng-template>
</div>